openapi: 3.0.3
info:
  title: 'Outreach Agent API'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://outreach.seannocode.com'
tags:
  -
    name: Health
    description: "\nIs the API up."
  -
    name: Contacts
    description: "\nPeople we email, and everything that has passed between us and them."
  -
    name: Automations
    description: "\nA sequence of emails, identified by the tag that enrolls contacts into it."
  -
    name: Enrollments
    description: "\nA contact moving through an automation."
  -
    name: Messages
    description: "\nIndividual emails, from draft through to sent."
  -
    name: Replies
    description: "\nWhat came back: genuine replies, bounces, auto-responders and opt-outs."
  -
    name: Suppressions
    description: "\nThe do-not-email list. Read it before pushing contacts."
  -
    name: Mailboxes
    description: "\nThe Gmail accounts that send. Connected in the dashboard, managed here."
  -
    name: Stats
    description: "\nCounts across the system in one request."
  -
    name: Activity
    description: "\nThe system log: sends, failures, bounces, opt-outs and polling errors."
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: "Create a key in the dashboard under <b>Settings &rarr; API keys</b>. It is shown once.\n\nEach key carries one or more abilities and an endpoint accepts only the ones it lists:\n\n<ul>\n<li><code>read</code> &mdash; every GET</li>\n<li><code>write</code> &mdash; push contacts, edit and reject drafts, manage automations and mailboxes</li>\n<li><code>approve</code> &mdash; approve a draft so it sends</li>\n</ul>\n\nGive a key only what it needs. A tool that just pushes leads needs <code>write</code>,\nnot <code>read</code>.\n\nWrong key gives 401; a valid key without the right ability gives 403, and the message\nsays which ability was missing."
security:
  -
    default: []
paths:
  /api/health:
    get:
      summary: 'Health check'
      operationId: healthCheck
      description: "Confirms the API is up. The only endpoint that needs no API key, so it\nis safe to poll from a monitor."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: ok
                  data:
                    time: '2026-09-01T09:00:00+00:00'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: ok
                  data:
                    type: object
                    properties:
                      time:
                        type: string
                        example: '2026-09-01T09:00:00+00:00'
      tags:
        - Health
      security: []
  /api/contacts:
    get:
      summary: 'List contacts'
      operationId: listContacts
      description: 'Newest first.'
      parameters:
        -
          in: query
          name: email
          description: 'Exact address. e.g. jane.doe@acme.example.'
          example: null
          required: false
          schema:
            type: string
            description: 'Exact address. e.g. jane.doe@acme.example.'
            example: null
        -
          in: query
          name: company
          description: 'Partial match on company. e.g. Acme.'
          example: null
          required: false
          schema:
            type: string
            description: 'Partial match on company. e.g. Acme.'
            example: null
        -
          in: query
          name: q
          description: 'Partial match on email, either name, or company. e.g. acme.'
          example: null
          required: false
          schema:
            type: string
            description: 'Partial match on email, either name, or company. e.g. acme.'
            example: null
        -
          in: query
          name: tag
          description: 'Only contacts enrolled in this automation. e.g. seo-backlinks.'
          example: null
          required: false
          schema:
            type: string
            description: 'Only contacts enrolled in this automation. e.g. seo-backlinks.'
            example: null
        -
          in: query
          name: status
          description: 'Only contacts with an enrollment in this state. e.g. active.'
          example: null
          required: false
          schema:
            type: string
            description: 'Only contacts with an enrollment in this state. e.g. active.'
            example: null
        -
          in: query
          name: suppressed
          description: 'true for opted-out contacts only, false to exclude them. e.g. true.'
          example: null
          required: false
          schema:
            type: boolean
            description: 'true for opted-out contacts only, false to exclude them. e.g. true.'
            example: null
        -
          in: query
          name: since
          description: 'ISO date. Only rows created on or after it. e.g. 2026-08-01.'
          example: null
          required: false
          schema:
            type: string
            description: 'ISO date. Only rows created on or after it. e.g. 2026-08-01.'
            example: null
        -
          in: query
          name: per_page
          description: 'Rows per page. Clamped to 200. e.g. 50.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Rows per page. Clamped to 200. e.g. 50.'
            example: null
        -
          in: query
          name: page
          description: 'Which page to return. e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page to return. e.g. 1.'
            example: null
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: ok
                  data:
                    -
                      id: 2
                      email: sam.patel@globex.example
                      name: 'Sam Patel'
                      first_name: Sam
                      last_name: Patel
                      company: Globex
                      website: 'https://globex.example'
                      source: tube-trend-tool
                      custom: []
                      created_at: '2026-09-02T09:52:27+00:00'
                      updated_at: '2026-09-02T09:52:27+00:00'
                    -
                      id: 1
                      email: jane.doe@acme.example
                      name: 'Jane Doe'
                      first_name: Jane
                      last_name: Doe
                      company: 'Acme Ltd'
                      website: 'https://acme.example'
                      source: tube-trend-tool
                      custom:
                        industry: SaaS
                        employees: 40
                      created_at: '2026-09-02T09:52:27+00:00'
                      updated_at: '2026-09-02T09:52:27+00:00'
                  meta:
                    page: 1
                    per_page: 50
                    total: 2
                    last_page: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: ok
                  data:
                    type: array
                    example:
                      -
                        id: 2
                        email: sam.patel@globex.example
                        name: 'Sam Patel'
                        first_name: Sam
                        last_name: Patel
                        company: Globex
                        website: 'https://globex.example'
                        source: tube-trend-tool
                        custom: []
                        created_at: '2026-09-02T09:52:27+00:00'
                        updated_at: '2026-09-02T09:52:27+00:00'
                      -
                        id: 1
                        email: jane.doe@acme.example
                        name: 'Jane Doe'
                        first_name: Jane
                        last_name: Doe
                        company: 'Acme Ltd'
                        website: 'https://acme.example'
                        source: tube-trend-tool
                        custom:
                          industry: SaaS
                          employees: 40
                        created_at: '2026-09-02T09:52:27+00:00'
                        updated_at: '2026-09-02T09:52:27+00:00'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2
                        email:
                          type: string
                          example: sam.patel@globex.example
                        name:
                          type: string
                          example: 'Sam Patel'
                        first_name:
                          type: string
                          example: Sam
                        last_name:
                          type: string
                          example: Patel
                        company:
                          type: string
                          example: Globex
                        website:
                          type: string
                          example: 'https://globex.example'
                        source:
                          type: string
                          example: tube-trend-tool
                        custom:
                          type: array
                          example: []
                        created_at:
                          type: string
                          example: '2026-09-02T09:52:27+00:00'
                        updated_at:
                          type: string
                          example: '2026-09-02T09:52:27+00:00'
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 50
                      total:
                        type: integer
                        example: 2
                      last_page:
                        type: integer
                        example: 1
      tags:
        - Contacts
    post:
      summary: 'Push a contact'
      operationId: pushAContact
      description: "Upserts the contact and enrolls them in the automation matching each\ntag. A suppressed address is accepted and nothing is enrolled, so read\nGET /api/suppressions first if you need to know that happened."
      parameters: []
      responses: {}
      tags:
        - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The contact's address."
                  example: jane.doe@acme.example
                name:
                  type: string
                  description: 'The full name. Send this or the two parts; whichever you send wins, and the rest is filled in.'
                  example: 'Jane Doe'
                  nullable: true
                first_name:
                  type: string
                  description: ''
                  example: Jane
                  nullable: true
                last_name:
                  type: string
                  description: ''
                  example: Doe
                  nullable: true
                company:
                  type: string
                  description: ''
                  example: 'Acme Ltd'
                  nullable: true
                website:
                  type: string
                  description: ''
                  example: 'https://acme.example'
                  nullable: true
                custom:
                  type: object
                  description: 'Anything else worth passing to the drafter.'
                  example:
                    industry: SaaS
                  properties: {}
                  nullable: true
                source:
                  type: string
                  description: 'Where the lead came from.'
                  example: tube-trend-tool
                  nullable: true
                tags:
                  type: array
                  description: 'One or more automation tags to enroll into.'
                  example:
                    - seo-backlinks
                  items:
                    type: string
              required:
                - email
                - tags
  '/api/contacts/{contact}':
    get:
      summary: 'Get one contact'
      operationId: getOneContact
      description: "The contact with its enrollments, every email sent to them and every\nreply received, in one request."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: ok
                  data:
                    id: 1
                    email: jane.doe@acme.example
                    name: 'Jane Doe'
                    first_name: Jane
                    last_name: Doe
                    company: 'Acme Ltd'
                    website: 'https://acme.example'
                    source: tube-trend-tool
                    custom:
                      industry: SaaS
                      employees: 40
                    suppressed: false
                    created_at: '2026-09-02T09:52:27+00:00'
                    updated_at: '2026-09-02T09:52:27+00:00'
                    enrollments:
                      -
                        id: 1
                        contact_id: 1
                        automation_id: 1
                        automation_tag: seo-backlinks
                        mailbox_id: 1
                        mailbox_email: hello@outreach.example
                        status: active
                        current_step: 1
                        stopped_at: null
                        stop_reason: null
                        created_at: '2026-09-02T09:52:27+00:00'
                    messages:
                      -
                        id: 1
                        enrollment_id: 1
                        contact_id: 1
                        mailbox_id: 1
                        mailbox_email: hello@outreach.example
                        sequence_step_id: 1
                        step_position: 1
                        status: sent
                        subject: 'Your guide on nursery irrigation'
                        body_text: "Hi Jane,\n\nI read your piece on drip irrigation and it lines up closely with what we publish.\n\nWould a link swap make sense?\n\nAlex"
                        edited_by_user: false
                        scheduled_at: null
                        sent_at: '2026-09-01T09:52:27+00:00'
                        approved_at: null
                        rejected_at: null
                        rejection_note: null
                        error: null
                        created_at: '2026-09-02T09:52:27+00:00'
                    replies:
                      -
                        id: 1
                        contact_id: 1
                        enrollment_id: 1
                        message_id: 1
                        mailbox_id: 1
                        from_email: jane.doe@acme.example
                        subject: 'Re: Your guide on nursery irrigation'
                        snippet: 'Happy to take a look, send it over.'
                        body_text: "Happy to take a look, send it over.\n\nJane"
                        classification: reply
                        received_at: '2026-09-02T03:52:27+00:00'
                        read_at: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: ok
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      email:
                        type: string
                        example: jane.doe@acme.example
                      name:
                        type: string
                        example: 'Jane Doe'
                      first_name:
                        type: string
                        example: Jane
                      last_name:
                        type: string
                        example: Doe
                      company:
                        type: string
                        example: 'Acme Ltd'
                      website:
                        type: string
                        example: 'https://acme.example'
                      source:
                        type: string
                        example: tube-trend-tool
                      custom:
                        type: object
                        properties:
                          industry:
                            type: string
                            example: SaaS
                          employees:
                            type: integer
                            example: 40
                      suppressed:
                        type: boolean
                        example: false
                      created_at:
                        type: string
                        example: '2026-09-02T09:52:27+00:00'
                      updated_at:
                        type: string
                        example: '2026-09-02T09:52:27+00:00'
                      enrollments:
                        type: array
                        example:
                          -
                            id: 1
                            contact_id: 1
                            automation_id: 1
                            automation_tag: seo-backlinks
                            mailbox_id: 1
                            mailbox_email: hello@outreach.example
                            status: active
                            current_step: 1
                            stopped_at: null
                            stop_reason: null
                            created_at: '2026-09-02T09:52:27+00:00'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            contact_id:
                              type: integer
                              example: 1
                            automation_id:
                              type: integer
                              example: 1
                            automation_tag:
                              type: string
                              example: seo-backlinks
                            mailbox_id:
                              type: integer
                              example: 1
                            mailbox_email:
                              type: string
                              example: hello@outreach.example
                            status:
                              type: string
                              example: active
                            current_step:
                              type: integer
                              example: 1
                            stopped_at:
                              type: string
                              example: null
                              nullable: true
                            stop_reason:
                              type: string
                              example: null
                              nullable: true
                            created_at:
                              type: string
                              example: '2026-09-02T09:52:27+00:00'
                      messages:
                        type: array
                        example:
                          -
                            id: 1
                            enrollment_id: 1
                            contact_id: 1
                            mailbox_id: 1
                            mailbox_email: hello@outreach.example
                            sequence_step_id: 1
                            step_position: 1
                            status: sent
                            subject: 'Your guide on nursery irrigation'
                            body_text: "Hi Jane,\n\nI read your piece on drip irrigation and it lines up closely with what we publish.\n\nWould a link swap make sense?\n\nAlex"
                            edited_by_user: false
                            scheduled_at: null
                            sent_at: '2026-09-01T09:52:27+00:00'
                            approved_at: null
                            rejected_at: null
                            rejection_note: null
                            error: null
                            created_at: '2026-09-02T09:52:27+00:00'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            enrollment_id:
                              type: integer
                              example: 1
                            contact_id:
                              type: integer
                              example: 1
                            mailbox_id:
                              type: integer
                              example: 1
                            mailbox_email:
                              type: string
                              example: hello@outreach.example
                            sequence_step_id:
                              type: integer
                              example: 1
                            step_position:
                              type: integer
                              example: 1
                            status:
                              type: string
                              example: sent
                            subject:
                              type: string
                              example: 'Your guide on nursery irrigation'
                            body_text:
                              type: string
                              example: "Hi Jane,\n\nI read your piece on drip irrigation and it lines up closely with what we publish.\n\nWould a link swap make sense?\n\nAlex"
                            edited_by_user:
                              type: boolean
                              example: false
                            scheduled_at:
                              type: string
                              example: null
                              nullable: true
                            sent_at:
                              type: string
                              example: '2026-09-01T09:52:27+00:00'
                            approved_at:
                              type: string
                              example: null
                              nullable: true
                            rejected_at:
                              type: string
                              example: null
                              nullable: true
                            rejection_note:
                              type: string
                              example: null
                              nullable: true
                            error:
                              type: string
                              example: null
                              nullable: true
                            created_at:
                              type: string
                              example: '2026-09-02T09:52:27+00:00'
                      replies:
                        type: array
                        example:
                          -
                            id: 1
                            contact_id: 1
                            enrollment_id: 1
                            message_id: 1
                            mailbox_id: 1
                            from_email: jane.doe@acme.example
                            subject: 'Re: Your guide on nursery irrigation'
                            snippet: 'Happy to take a look, send it over.'
                            body_text: "Happy to take a look, send it over.\n\nJane"
                            classification: reply
                            received_at: '2026-09-02T03:52:27+00:00'
                            read_at: null
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            contact_id:
                              type: integer
                              example: 1
                            enrollment_id:
                              type: integer
                              example: 1
                            message_id:
                              type: integer
                              example: 1
                            mailbox_id:
                              type: integer
                              example: 1
                            from_email:
                              type: string
                              example: jane.doe@acme.example
                            subject:
                              type: string
                              example: 'Re: Your guide on nursery irrigation'
                            snippet:
                              type: string
                              example: 'Happy to take a look, send it over.'
                            body_text:
                              type: string
                              example: "Happy to take a look, send it over.\n\nJane"
                            classification:
                              type: string
                              example: reply
                            received_at:
                              type: string
                              example: '2026-09-02T03:52:27+00:00'
                            read_at:
                              type: string
                              example: null
                              nullable: true
      tags:
        - Contacts
    parameters:
      -
        in: path
        name: contact
        description: 'An id or an email address.'
        example: jane.doe@acme.example
        required: true
        schema:
          type: string
  /api/automations:
    get:
      summary: 'List automations'
      operationId: listAutomations
      description: 'Each with its steps.'
      parameters:
        -
          in: query
          name: active
          description: 'Only switched-on or switched-off automations. e.g. true.'
          example: null
          required: false
          schema:
            type: boolean
            description: 'Only switched-on or switched-off automations. e.g. true.'
            example: null
        -
          in: query
          name: tag
          description: 'Exact tag. e.g. seo-backlinks.'
          example: null
          required: false
          schema:
            type: string
            description: 'Exact tag. e.g. seo-backlinks.'
            example: null
        -
          in: query
          name: per_page
          description: 'Rows per page. Clamped to 200. e.g. 50.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Rows per page. Clamped to 200. e.g. 50.'
            example: null
        -
          in: query
          name: page
          description: 'Which page to return. e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page to return. e.g. 1.'
            example: null
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: ok
                  data:
                    -
                      id: 1
                      tag: seo-backlinks
                      name: 'SEO backlinks outreach'
                      description: 'Three touches for sites that could carry a link back to us.'
                      active: true
                      created_at: '2026-09-02T09:52:27+00:00'
                      updated_at: '2026-09-02T09:52:27+00:00'
                      steps:
                        -
                          id: 1
                          automation_id: 1
                          position: 1
                          delay_days: 0
                          delay_hours: 0
                          drafting_instructions: 'Introduce yourself as the founder. Name one specific page on their site and why a link swap makes sense. Under 120 words, one clear ask.'
                          active: true
                          attachments: []
                          created_at: '2026-09-02T09:52:27+00:00'
                        -
                          id: 2
                          automation_id: 1
                          position: 2
                          delay_days: 3
                          delay_hours: 0
                          drafting_instructions: 'Short nudge referencing the first note. Do not re-introduce yourself.'
                          active: true
                          attachments: []
                          created_at: '2026-09-02T09:52:27+00:00'
                  meta:
                    page: 1
                    per_page: 50
                    total: 1
                    last_page: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: ok
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        tag: seo-backlinks
                        name: 'SEO backlinks outreach'
                        description: 'Three touches for sites that could carry a link back to us.'
                        active: true
                        created_at: '2026-09-02T09:52:27+00:00'
                        updated_at: '2026-09-02T09:52:27+00:00'
                        steps:
                          -
                            id: 1
                            automation_id: 1
                            position: 1
                            delay_days: 0
                            delay_hours: 0
                            drafting_instructions: 'Introduce yourself as the founder. Name one specific page on their site and why a link swap makes sense. Under 120 words, one clear ask.'
                            active: true
                            attachments: []
                            created_at: '2026-09-02T09:52:27+00:00'
                          -
                            id: 2
                            automation_id: 1
                            position: 2
                            delay_days: 3
                            delay_hours: 0
                            drafting_instructions: 'Short nudge referencing the first note. Do not re-introduce yourself.'
                            active: true
                            attachments: []
                            created_at: '2026-09-02T09:52:27+00:00'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        tag:
                          type: string
                          example: seo-backlinks
                        name:
                          type: string
                          example: 'SEO backlinks outreach'
                        description:
                          type: string
                          example: 'Three touches for sites that could carry a link back to us.'
                        active:
                          type: boolean
                          example: true
                        created_at:
                          type: string
                          example: '2026-09-02T09:52:27+00:00'
                        updated_at:
                          type: string
                          example: '2026-09-02T09:52:27+00:00'
                        steps:
                          type: array
                          example:
                            -
                              id: 1
                              automation_id: 1
                              position: 1
                              delay_days: 0
                              delay_hours: 0
                              drafting_instructions: 'Introduce yourself as the founder. Name one specific page on their site and why a link swap makes sense. Under 120 words, one clear ask.'
                              active: true
                              attachments: []
                              created_at: '2026-09-02T09:52:27+00:00'
                            -
                              id: 2
                              automation_id: 1
                              position: 2
                              delay_days: 3
                              delay_hours: 0
                              drafting_instructions: 'Short nudge referencing the first note. Do not re-introduce yourself.'
                              active: true
                              attachments: []
                              created_at: '2026-09-02T09:52:27+00:00'
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              automation_id:
                                type: integer
                                example: 1
                              position:
                                type: integer
                                example: 1
                              delay_days:
                                type: integer
                                example: 0
                              delay_hours:
                                type: integer
                                example: 0
                              drafting_instructions:
                                type: string
                                example: 'Introduce yourself as the founder. Name one specific page on their site and why a link swap makes sense. Under 120 words, one clear ask.'
                              active:
                                type: boolean
                                example: true
                              attachments:
                                type: array
                                example: []
                              created_at:
                                type: string
                                example: '2026-09-02T09:52:27+00:00'
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 50
                      total:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
      tags:
        - Automations
    post:
      summary: 'Create an automation'
      operationId: createAnAutomation
      description: "Optionally with its steps in the same call.\n\nThe tag is how contacts get enrolled: pushing a contact with that tag to\nPOST /api/contacts starts them on this sequence."
      parameters: []
      responses: {}
      tags:
        - Automations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tag:
                  type: string
                  description: ''
                  example: seo-backlinks
                name:
                  type: string
                  description: ''
                  example: 'SEO backlinks outreach'
                description:
                  type: string
                  description: ''
                  example: 'Two touches for sites that could carry a link back to us.'
                  nullable: true
                active:
                  type: boolean
                  description: 'Defaults to true.'
                  example: true
                  nullable: true
                steps:
                  type: array
                  description: 'The sequence, optional here and addable later.'
                  example:
                    - []
                  items:
                    type: object
                    nullable: true
                    properties:
                      position:
                        type: integer
                        description: '1 is the first email.'
                        example: 1
                      delay_days:
                        type: integer
                        description: 'Days after the previous step.'
                        example: 0
                        nullable: true
                      delay_hours:
                        type: integer
                        description: 'Hours after the previous step.'
                        example: 0
                        nullable: true
                      drafting_instructions:
                        type: string
                        description: 'What Claude should write.'
                        example: 'Short, friendly cold email asking if they would consider a guest post. Two sentences, no pitch.'
                      active:
                        type: boolean
                        description: ''
                        example: true
                        nullable: true
                    required:
                      - position
                      - drafting_instructions
              required:
                - tag
                - name
  '/api/automations/{automation}':
    get:
      summary: 'Get one automation'
      operationId: getOneAutomation
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: ok
                  data:
                    id: 1
                    tag: seo-backlinks
                    name: 'SEO backlinks outreach'
                    description: 'Three touches for sites that could carry a link back to us.'
                    active: true
                    created_at: '2026-09-02T09:52:27+00:00'
                    updated_at: '2026-09-02T09:52:27+00:00'
                    steps:
                      -
                        id: 1
                        automation_id: 1
                        position: 1
                        delay_days: 0
                        delay_hours: 0
                        drafting_instructions: 'Introduce yourself as the founder. Name one specific page on their site and why a link swap makes sense. Under 120 words, one clear ask.'
                        active: true
                        attachments: []
                        created_at: '2026-09-02T09:52:27+00:00'
                      -
                        id: 2
                        automation_id: 1
                        position: 2
                        delay_days: 3
                        delay_hours: 0
                        drafting_instructions: 'Short nudge referencing the first note. Do not re-introduce yourself.'
                        active: true
                        attachments: []
                        created_at: '2026-09-02T09:52:27+00:00'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: ok
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      tag:
                        type: string
                        example: seo-backlinks
                      name:
                        type: string
                        example: 'SEO backlinks outreach'
                      description:
                        type: string
                        example: 'Three touches for sites that could carry a link back to us.'
                      active:
                        type: boolean
                        example: true
                      created_at:
                        type: string
                        example: '2026-09-02T09:52:27+00:00'
                      updated_at:
                        type: string
                        example: '2026-09-02T09:52:27+00:00'
                      steps:
                        type: array
                        example:
                          -
                            id: 1
                            automation_id: 1
                            position: 1
                            delay_days: 0
                            delay_hours: 0
                            drafting_instructions: 'Introduce yourself as the founder. Name one specific page on their site and why a link swap makes sense. Under 120 words, one clear ask.'
                            active: true
                            attachments: []
                            created_at: '2026-09-02T09:52:27+00:00'
                          -
                            id: 2
                            automation_id: 1
                            position: 2
                            delay_days: 3
                            delay_hours: 0
                            drafting_instructions: 'Short nudge referencing the first note. Do not re-introduce yourself.'
                            active: true
                            attachments: []
                            created_at: '2026-09-02T09:52:27+00:00'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            automation_id:
                              type: integer
                              example: 1
                            position:
                              type: integer
                              example: 1
                            delay_days:
                              type: integer
                              example: 0
                            delay_hours:
                              type: integer
                              example: 0
                            drafting_instructions:
                              type: string
                              example: 'Introduce yourself as the founder. Name one specific page on their site and why a link swap makes sense. Under 120 words, one clear ask.'
                            active:
                              type: boolean
                              example: true
                            attachments:
                              type: array
                              example: []
                            created_at:
                              type: string
                              example: '2026-09-02T09:52:27+00:00'
      tags:
        - Automations
    patch:
      summary: 'Update an automation'
      operationId: updateAnAutomation
      description: ''
      parameters: []
      responses: {}
      tags:
        - Automations
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                tag:
                  type: string
                  description: ''
                  example: seo-backlinks
                name:
                  type: string
                  description: ''
                  example: 'SEO backlinks outreach'
                description:
                  type: string
                  description: ''
                  example: 'Two touches for sites that could carry a link back to us.'
                  nullable: true
                active:
                  type: boolean
                  description: 'Switch the whole sequence off without deleting it.'
                  example: false
    parameters:
      -
        in: path
        name: automation
        description: 'An id or a tag.'
        example: seo-backlinks
        required: true
        schema:
          type: string
  '/api/automations/{automation}/steps':
    get:
      summary: 'List steps'
      operationId: listSteps
      description: 'Every step of one automation, with the files attached to each.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: ok
                  data:
                    -
                      id: 1
                      automation_id: 1
                      position: 1
                      delay_days: 0
                      delay_hours: 0
                      drafting_instructions: 'Introduce yourself as the founder. Name one specific page on their site and why a link swap makes sense. Under 120 words, one clear ask.'
                      active: true
                      attachments: []
                      created_at: '2026-09-02T09:52:27+00:00'
                    -
                      id: 2
                      automation_id: 1
                      position: 2
                      delay_days: 3
                      delay_hours: 0
                      drafting_instructions: 'Short nudge referencing the first note. Do not re-introduce yourself.'
                      active: true
                      attachments: []
                      created_at: '2026-09-02T09:52:27+00:00'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: ok
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        automation_id: 1
                        position: 1
                        delay_days: 0
                        delay_hours: 0
                        drafting_instructions: 'Introduce yourself as the founder. Name one specific page on their site and why a link swap makes sense. Under 120 words, one clear ask.'
                        active: true
                        attachments: []
                        created_at: '2026-09-02T09:52:27+00:00'
                      -
                        id: 2
                        automation_id: 1
                        position: 2
                        delay_days: 3
                        delay_hours: 0
                        drafting_instructions: 'Short nudge referencing the first note. Do not re-introduce yourself.'
                        active: true
                        attachments: []
                        created_at: '2026-09-02T09:52:27+00:00'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        automation_id:
                          type: integer
                          example: 1
                        position:
                          type: integer
                          example: 1
                        delay_days:
                          type: integer
                          example: 0
                        delay_hours:
                          type: integer
                          example: 0
                        drafting_instructions:
                          type: string
                          example: 'Introduce yourself as the founder. Name one specific page on their site and why a link swap makes sense. Under 120 words, one clear ask.'
                        active:
                          type: boolean
                          example: true
                        attachments:
                          type: array
                          example: []
                        created_at:
                          type: string
                          example: '2026-09-02T09:52:27+00:00'
      tags:
        - Automations
    post:
      summary: 'Add a step'
      operationId: addAStep
      description: "Position 1 is the first email; later positions are the follow-ups, sent\ndelay_days and delay_hours after the previous one."
      parameters: []
      responses: {}
      tags:
        - Automations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                position:
                  type: integer
                  description: '1 is the first email.'
                  example: 2
                delay_days:
                  type: integer
                  description: 'Days after the previous step.'
                  example: 3
                  nullable: true
                delay_hours:
                  type: integer
                  description: 'Hours after the previous step.'
                  example: 0
                  nullable: true
                drafting_instructions:
                  type: string
                  description: ''
                  example: 'Brief follow-up. Reference the first email, ask if they saw it.'
                active:
                  type: boolean
                  description: ''
                  example: true
                  nullable: true
              required:
                - position
                - drafting_instructions
    parameters:
      -
        in: path
        name: automation
        description: 'An id or a tag.'
        example: seo-backlinks
        required: true
        schema:
          type: string
  '/api/automations/{automation}/steps/{step}':
    patch:
      summary: 'Update a step'
      operationId: updateAStep
      description: ''
      parameters: []
      responses: {}
      tags:
        - Automations
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                position:
                  type: integer
                  description: ''
                  example: 2
                delay_days:
                  type: integer
                  description: ''
                  example: 3
                delay_hours:
                  type: integer
                  description: ''
                  example: 0
                drafting_instructions:
                  type: string
                  description: ''
                  example: 'Brief follow-up. Reference the first email, ask if they saw it.'
                active:
                  type: boolean
                  description: 'Switch one step off without deleting it.'
                  example: false
    delete:
      summary: 'Delete a step'
      operationId: deleteAStep
      description: ''
      parameters: []
      responses: {}
      tags:
        - Automations
    parameters:
      -
        in: path
        name: automation
        description: 'An id or a tag.'
        example: seo-backlinks
        required: true
        schema:
          type: string
      -
        in: path
        name: step
        description: ''
        example: 1
        required: true
        schema:
          type: integer
  '/api/automations/{automation}/steps/{step}/attachments':
    post:
      summary: 'Attach a file to a step'
      operationId: attachAFileToAStep
      description: "Send it as multipart/form-data under `file`.\n\nThe file goes out with this step's email only. To attach the same file\nto every email in the sequence, upload it to each step.\n\nExecutables and archives are refused: recipients' gateways strip or\nquarantine them, and that cost lands on the whole sending domain."
      parameters: []
      responses: {}
      tags:
        - Automations
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: "The file to attach. Choose it in Postman's Body tab."
              required:
                - file
    parameters:
      -
        in: path
        name: automation
        description: 'An id or a tag.'
        example: seo-backlinks
        required: true
        schema:
          type: string
      -
        in: path
        name: step
        description: ''
        example: 1
        required: true
        schema:
          type: integer
  '/api/automations/{automation}/steps/{step}/attachments/{attachment}':
    delete:
      summary: 'Remove an attachment'
      operationId: removeAnAttachment
      description: 'Deletes the file as well as the reference to it.'
      parameters: []
      responses: {}
      tags:
        - Automations
    parameters:
      -
        in: path
        name: automation
        description: 'An id or a tag.'
        example: seo-backlinks
        required: true
        schema:
          type: string
      -
        in: path
        name: step
        description: ''
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: attachment
        description: "The attachment id from the step's attachments array."
        example: 9b1c7e2a4f6d4c8e9a0b1c2d3e4f5a6b
        required: true
        schema:
          type: string
  /api/enrollments:
    get:
      summary: 'List enrollments'
      operationId: listEnrollments
      description: 'Newest first.'
      parameters:
        -
          in: query
          name: status
          description: 'One of active, completed, stopped_reply, stopped_unsubscribe, stopped_bounce, stopped_suppressed, stopped_rejected, cancelled, failed. e.g. active.'
          example: null
          required: false
          schema:
            type: string
            description: 'One of active, completed, stopped_reply, stopped_unsubscribe, stopped_bounce, stopped_suppressed, stopped_rejected, cancelled, failed. e.g. active.'
            example: null
        -
          in: query
          name: contact_id
          description: 'e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'e.g. 1.'
            example: null
        -
          in: query
          name: automation_id
          description: 'e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'e.g. 1.'
            example: null
        -
          in: query
          name: tag
          description: 'Automation tag. e.g. seo-backlinks.'
          example: null
          required: false
          schema:
            type: string
            description: 'Automation tag. e.g. seo-backlinks.'
            example: null
        -
          in: query
          name: mailbox_id
          description: 'e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'e.g. 1.'
            example: null
        -
          in: query
          name: per_page
          description: 'Rows per page. Clamped to 200. e.g. 50.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Rows per page. Clamped to 200. e.g. 50.'
            example: null
        -
          in: query
          name: page
          description: 'Which page to return. e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page to return. e.g. 1.'
            example: null
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: ok
                  data:
                    -
                      id: 2
                      contact_id: 2
                      automation_id: 1
                      automation_tag: seo-backlinks
                      mailbox_id: 1
                      mailbox_email: hello@outreach.example
                      status: active
                      current_step: 0
                      stopped_at: null
                      stop_reason: null
                      created_at: '2026-09-02T09:52:27+00:00'
                      contact:
                        id: 2
                        email: sam.patel@globex.example
                        name: 'Sam Patel'
                        first_name: Sam
                        last_name: Patel
                        company: Globex
                        website: 'https://globex.example'
                        source: tube-trend-tool
                        custom: []
                        created_at: '2026-09-02T09:52:27+00:00'
                        updated_at: '2026-09-02T09:52:27+00:00'
                    -
                      id: 1
                      contact_id: 1
                      automation_id: 1
                      automation_tag: seo-backlinks
                      mailbox_id: 1
                      mailbox_email: hello@outreach.example
                      status: active
                      current_step: 1
                      stopped_at: null
                      stop_reason: null
                      created_at: '2026-09-02T09:52:27+00:00'
                      contact:
                        id: 1
                        email: jane.doe@acme.example
                        name: 'Jane Doe'
                        first_name: Jane
                        last_name: Doe
                        company: 'Acme Ltd'
                        website: 'https://acme.example'
                        source: tube-trend-tool
                        custom:
                          industry: SaaS
                          employees: 40
                        created_at: '2026-09-02T09:52:27+00:00'
                        updated_at: '2026-09-02T09:52:27+00:00'
                  meta:
                    page: 1
                    per_page: 50
                    total: 2
                    last_page: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: ok
                  data:
                    type: array
                    example:
                      -
                        id: 2
                        contact_id: 2
                        automation_id: 1
                        automation_tag: seo-backlinks
                        mailbox_id: 1
                        mailbox_email: hello@outreach.example
                        status: active
                        current_step: 0
                        stopped_at: null
                        stop_reason: null
                        created_at: '2026-09-02T09:52:27+00:00'
                        contact:
                          id: 2
                          email: sam.patel@globex.example
                          name: 'Sam Patel'
                          first_name: Sam
                          last_name: Patel
                          company: Globex
                          website: 'https://globex.example'
                          source: tube-trend-tool
                          custom: []
                          created_at: '2026-09-02T09:52:27+00:00'
                          updated_at: '2026-09-02T09:52:27+00:00'
                      -
                        id: 1
                        contact_id: 1
                        automation_id: 1
                        automation_tag: seo-backlinks
                        mailbox_id: 1
                        mailbox_email: hello@outreach.example
                        status: active
                        current_step: 1
                        stopped_at: null
                        stop_reason: null
                        created_at: '2026-09-02T09:52:27+00:00'
                        contact:
                          id: 1
                          email: jane.doe@acme.example
                          name: 'Jane Doe'
                          first_name: Jane
                          last_name: Doe
                          company: 'Acme Ltd'
                          website: 'https://acme.example'
                          source: tube-trend-tool
                          custom:
                            industry: SaaS
                            employees: 40
                          created_at: '2026-09-02T09:52:27+00:00'
                          updated_at: '2026-09-02T09:52:27+00:00'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2
                        contact_id:
                          type: integer
                          example: 2
                        automation_id:
                          type: integer
                          example: 1
                        automation_tag:
                          type: string
                          example: seo-backlinks
                        mailbox_id:
                          type: integer
                          example: 1
                        mailbox_email:
                          type: string
                          example: hello@outreach.example
                        status:
                          type: string
                          example: active
                        current_step:
                          type: integer
                          example: 0
                        stopped_at:
                          type: string
                          example: null
                          nullable: true
                        stop_reason:
                          type: string
                          example: null
                          nullable: true
                        created_at:
                          type: string
                          example: '2026-09-02T09:52:27+00:00'
                        contact:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            email:
                              type: string
                              example: sam.patel@globex.example
                            name:
                              type: string
                              example: 'Sam Patel'
                            first_name:
                              type: string
                              example: Sam
                            last_name:
                              type: string
                              example: Patel
                            company:
                              type: string
                              example: Globex
                            website:
                              type: string
                              example: 'https://globex.example'
                            source:
                              type: string
                              example: tube-trend-tool
                            custom:
                              type: array
                              example: []
                            created_at:
                              type: string
                              example: '2026-09-02T09:52:27+00:00'
                            updated_at:
                              type: string
                              example: '2026-09-02T09:52:27+00:00'
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 50
                      total:
                        type: integer
                        example: 2
                      last_page:
                        type: integer
                        example: 1
      tags:
        - Enrollments
    post:
      summary: 'Enroll a contact'
      operationId: enrollAContact
      description: "Puts a contact already on file into an automation and starts drafting\nstep 1. POST /api/contacts is the route for new leads; this one is for\nsomeone who should also go through another sequence.\n\nIdentify the contact by contact_id or email, and the automation by\nautomation_id or tag."
      parameters: []
      responses: {}
      tags:
        - Enrollments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_id:
                  type: integer
                  description: 'Alternative to email. Left out of the example below so the request is sendable as it stands.'
                  example: null
                email:
                  type: string
                  description: "The contact's address. Send this or contact_id."
                  example: jane.doe@acme.example
                tag:
                  type: string
                  description: "The automation's tag. Send this or automation_id."
                  example: seo-backlinks
                automation_id:
                  type: integer
                  description: 'Alternative to tag. Left out of the example below so the request is sendable as it stands.'
                  example: null
  '/api/enrollments/{enrollment}':
    delete:
      summary: 'Stop an enrollment'
      operationId: stopAnEnrollment
      description: "Anything already drafted or scheduled for it is cancelled, so nothing\nfurther is sent."
      parameters: []
      responses: {}
      tags:
        - Enrollments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: 'Recorded against the stopped enrollment.'
                  example: 'Replied on another channel'
                  nullable: true
    parameters:
      -
        in: path
        name: enrollment
        description: ''
        example: 1
        required: true
        schema:
          type: integer
  /api/messages:
    get:
      summary: 'List emails'
      operationId: listEmails
      description: 'Oldest first, the same order the approval queue shows.'
      parameters:
        -
          in: query
          name: status
          description: 'One of drafting, pending_approval, approved, scheduled, sending, sent, draft_failed, rejected, cancelled, failed. e.g. pending_approval.'
          example: null
          required: false
          schema:
            type: string
            description: 'One of drafting, pending_approval, approved, scheduled, sending, sent, draft_failed, rejected, cancelled, failed. e.g. pending_approval.'
            example: null
        -
          in: query
          name: contact_id
          description: 'e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'e.g. 1.'
            example: null
        -
          in: query
          name: enrollment_id
          description: 'e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'e.g. 1.'
            example: null
        -
          in: query
          name: mailbox_id
          description: 'e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'e.g. 1.'
            example: null
        -
          in: query
          name: since
          description: 'ISO date. Only rows created on or after it. e.g. 2026-08-01.'
          example: null
          required: false
          schema:
            type: string
            description: 'ISO date. Only rows created on or after it. e.g. 2026-08-01.'
            example: null
        -
          in: query
          name: per_page
          description: 'Rows per page. Clamped to 200. e.g. 50.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Rows per page. Clamped to 200. e.g. 50.'
            example: null
        -
          in: query
          name: page
          description: 'Which page to return. e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page to return. e.g. 1.'
            example: null
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: ok
                  data:
                    -
                      id: 1
                      enrollment_id: 1
                      contact_id: 1
                      mailbox_id: 1
                      mailbox_email: hello@outreach.example
                      sequence_step_id: 1
                      step_position: 1
                      status: sent
                      subject: 'Your guide on nursery irrigation'
                      body_text: "Hi Jane,\n\nI read your piece on drip irrigation and it lines up closely with what we publish.\n\nWould a link swap make sense?\n\nAlex"
                      edited_by_user: false
                      scheduled_at: null
                      sent_at: '2026-09-01T09:52:27+00:00'
                      approved_at: null
                      rejected_at: null
                      rejection_note: null
                      error: null
                      created_at: '2026-09-02T09:52:27+00:00'
                      contact:
                        id: 1
                        email: jane.doe@acme.example
                        name: 'Jane Doe'
                        first_name: Jane
                        last_name: Doe
                        company: 'Acme Ltd'
                        website: 'https://acme.example'
                        source: tube-trend-tool
                        custom:
                          industry: SaaS
                          employees: 40
                        created_at: '2026-09-02T09:52:27+00:00'
                        updated_at: '2026-09-02T09:52:27+00:00'
                    -
                      id: 2
                      enrollment_id: 2
                      contact_id: 2
                      mailbox_id: 1
                      mailbox_email: hello@outreach.example
                      sequence_step_id: 1
                      step_position: 1
                      status: pending_approval
                      subject: 'Quick thought on your resources page'
                      body_text: "Hi Sam,\n\nYour resources page is missing a section we could help fill.\n\nWorth a quick chat?\n\nAlex"
                      edited_by_user: false
                      scheduled_at: null
                      sent_at: null
                      approved_at: null
                      rejected_at: null
                      rejection_note: null
                      error: null
                      created_at: '2026-09-02T09:52:27+00:00'
                      contact:
                        id: 2
                        email: sam.patel@globex.example
                        name: 'Sam Patel'
                        first_name: Sam
                        last_name: Patel
                        company: Globex
                        website: 'https://globex.example'
                        source: tube-trend-tool
                        custom: []
                        created_at: '2026-09-02T09:52:27+00:00'
                        updated_at: '2026-09-02T09:52:27+00:00'
                  meta:
                    page: 1
                    per_page: 50
                    total: 2
                    last_page: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: ok
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        enrollment_id: 1
                        contact_id: 1
                        mailbox_id: 1
                        mailbox_email: hello@outreach.example
                        sequence_step_id: 1
                        step_position: 1
                        status: sent
                        subject: 'Your guide on nursery irrigation'
                        body_text: "Hi Jane,\n\nI read your piece on drip irrigation and it lines up closely with what we publish.\n\nWould a link swap make sense?\n\nAlex"
                        edited_by_user: false
                        scheduled_at: null
                        sent_at: '2026-09-01T09:52:27+00:00'
                        approved_at: null
                        rejected_at: null
                        rejection_note: null
                        error: null
                        created_at: '2026-09-02T09:52:27+00:00'
                        contact:
                          id: 1
                          email: jane.doe@acme.example
                          name: 'Jane Doe'
                          first_name: Jane
                          last_name: Doe
                          company: 'Acme Ltd'
                          website: 'https://acme.example'
                          source: tube-trend-tool
                          custom:
                            industry: SaaS
                            employees: 40
                          created_at: '2026-09-02T09:52:27+00:00'
                          updated_at: '2026-09-02T09:52:27+00:00'
                      -
                        id: 2
                        enrollment_id: 2
                        contact_id: 2
                        mailbox_id: 1
                        mailbox_email: hello@outreach.example
                        sequence_step_id: 1
                        step_position: 1
                        status: pending_approval
                        subject: 'Quick thought on your resources page'
                        body_text: "Hi Sam,\n\nYour resources page is missing a section we could help fill.\n\nWorth a quick chat?\n\nAlex"
                        edited_by_user: false
                        scheduled_at: null
                        sent_at: null
                        approved_at: null
                        rejected_at: null
                        rejection_note: null
                        error: null
                        created_at: '2026-09-02T09:52:27+00:00'
                        contact:
                          id: 2
                          email: sam.patel@globex.example
                          name: 'Sam Patel'
                          first_name: Sam
                          last_name: Patel
                          company: Globex
                          website: 'https://globex.example'
                          source: tube-trend-tool
                          custom: []
                          created_at: '2026-09-02T09:52:27+00:00'
                          updated_at: '2026-09-02T09:52:27+00:00'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        enrollment_id:
                          type: integer
                          example: 1
                        contact_id:
                          type: integer
                          example: 1
                        mailbox_id:
                          type: integer
                          example: 1
                        mailbox_email:
                          type: string
                          example: hello@outreach.example
                        sequence_step_id:
                          type: integer
                          example: 1
                        step_position:
                          type: integer
                          example: 1
                        status:
                          type: string
                          example: sent
                        subject:
                          type: string
                          example: 'Your guide on nursery irrigation'
                        body_text:
                          type: string
                          example: "Hi Jane,\n\nI read your piece on drip irrigation and it lines up closely with what we publish.\n\nWould a link swap make sense?\n\nAlex"
                        edited_by_user:
                          type: boolean
                          example: false
                        scheduled_at:
                          type: string
                          example: null
                          nullable: true
                        sent_at:
                          type: string
                          example: '2026-09-01T09:52:27+00:00'
                        approved_at:
                          type: string
                          example: null
                          nullable: true
                        rejected_at:
                          type: string
                          example: null
                          nullable: true
                        rejection_note:
                          type: string
                          example: null
                          nullable: true
                        error:
                          type: string
                          example: null
                          nullable: true
                        created_at:
                          type: string
                          example: '2026-09-02T09:52:27+00:00'
                        contact:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            email:
                              type: string
                              example: jane.doe@acme.example
                            name:
                              type: string
                              example: 'Jane Doe'
                            first_name:
                              type: string
                              example: Jane
                            last_name:
                              type: string
                              example: Doe
                            company:
                              type: string
                              example: 'Acme Ltd'
                            website:
                              type: string
                              example: 'https://acme.example'
                            source:
                              type: string
                              example: tube-trend-tool
                            custom:
                              type: object
                              properties:
                                industry:
                                  type: string
                                  example: SaaS
                                employees:
                                  type: integer
                                  example: 40
                            created_at:
                              type: string
                              example: '2026-09-02T09:52:27+00:00'
                            updated_at:
                              type: string
                              example: '2026-09-02T09:52:27+00:00'
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 50
                      total:
                        type: integer
                        example: 2
                      last_page:
                        type: integer
                        example: 1
      tags:
        - Messages
  '/api/messages/{message}':
    get:
      summary: 'Get one email'
      operationId: getOneEmail
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: ok
                  data:
                    id: 1
                    enrollment_id: 1
                    contact_id: 1
                    mailbox_id: 1
                    mailbox_email: hello@outreach.example
                    sequence_step_id: 1
                    step_position: 1
                    status: sent
                    subject: 'Your guide on nursery irrigation'
                    body_text: "Hi Jane,\n\nI read your piece on drip irrigation and it lines up closely with what we publish.\n\nWould a link swap make sense?\n\nAlex"
                    edited_by_user: false
                    scheduled_at: null
                    sent_at: '2026-09-01T09:52:27+00:00'
                    approved_at: null
                    rejected_at: null
                    rejection_note: null
                    error: null
                    created_at: '2026-09-02T09:52:27+00:00'
                    contact:
                      id: 1
                      email: jane.doe@acme.example
                      name: 'Jane Doe'
                      first_name: Jane
                      last_name: Doe
                      company: 'Acme Ltd'
                      website: 'https://acme.example'
                      source: tube-trend-tool
                      custom:
                        industry: SaaS
                        employees: 40
                      created_at: '2026-09-02T09:52:27+00:00'
                      updated_at: '2026-09-02T09:52:27+00:00'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: ok
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      enrollment_id:
                        type: integer
                        example: 1
                      contact_id:
                        type: integer
                        example: 1
                      mailbox_id:
                        type: integer
                        example: 1
                      mailbox_email:
                        type: string
                        example: hello@outreach.example
                      sequence_step_id:
                        type: integer
                        example: 1
                      step_position:
                        type: integer
                        example: 1
                      status:
                        type: string
                        example: sent
                      subject:
                        type: string
                        example: 'Your guide on nursery irrigation'
                      body_text:
                        type: string
                        example: "Hi Jane,\n\nI read your piece on drip irrigation and it lines up closely with what we publish.\n\nWould a link swap make sense?\n\nAlex"
                      edited_by_user:
                        type: boolean
                        example: false
                      scheduled_at:
                        type: string
                        example: null
                        nullable: true
                      sent_at:
                        type: string
                        example: '2026-09-01T09:52:27+00:00'
                      approved_at:
                        type: string
                        example: null
                        nullable: true
                      rejected_at:
                        type: string
                        example: null
                        nullable: true
                      rejection_note:
                        type: string
                        example: null
                        nullable: true
                      error:
                        type: string
                        example: null
                        nullable: true
                      created_at:
                        type: string
                        example: '2026-09-02T09:52:27+00:00'
                      contact:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          email:
                            type: string
                            example: jane.doe@acme.example
                          name:
                            type: string
                            example: 'Jane Doe'
                          first_name:
                            type: string
                            example: Jane
                          last_name:
                            type: string
                            example: Doe
                          company:
                            type: string
                            example: 'Acme Ltd'
                          website:
                            type: string
                            example: 'https://acme.example'
                          source:
                            type: string
                            example: tube-trend-tool
                          custom:
                            type: object
                            properties:
                              industry:
                                type: string
                                example: SaaS
                              employees:
                                type: integer
                                example: 40
                          created_at:
                            type: string
                            example: '2026-09-02T09:52:27+00:00'
                          updated_at:
                            type: string
                            example: '2026-09-02T09:52:27+00:00'
      tags:
        - Messages
    patch:
      summary: 'Edit a draft'
      operationId: editADraft
      description: "Changes the subject or body before the draft is approved.\n\nOnly while it is awaiting approval: once approved it has a send slot,\nand a later edit would change an email that is already on its way out."
      parameters: []
      responses: {}
      tags:
        - Messages
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                  description: ''
                  example: 'Quick thought on your resources page'
                body_text:
                  type: string
                  description: 'The plain-text body, stored and sent exactly as given. Line breaks are ordinary JSON newlines.'
                  example: "Hi Jane,\n\nRewriting this before it goes out.\n\nAlex"
    parameters:
      -
        in: path
        name: message
        description: ''
        example: 1
        required: true
        schema:
          type: integer
  '/api/messages/{message}/reject':
    post:
      summary: 'Reject a draft'
      operationId: rejectADraft
      description: "Also stops the contact's sequence, the same as rejecting in the\ndashboard does. Without that the enrollment would sit active with\nnothing left to advance it."
      parameters: []
      responses: {}
      tags:
        - Messages
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                  description: 'Why it was rejected. Stored on the message and the stopped enrollment.'
                  example: 'Wrong angle for this one'
                  nullable: true
    parameters:
      -
        in: path
        name: message
        description: ''
        example: 1
        required: true
        schema:
          type: integer
  '/api/messages/{message}/approve':
    post:
      summary: 'Approve a draft'
      operationId: approveADraft
      description: "Approves the draft and gives it a send slot.\n\nReturns 403 unless an administrator has set\nOUTREACH_API_ALLOW_APPROVAL=true, whatever abilities the key carries.\nApproving is the point where a human normally reads the email before a\nreal person receives it, so a key cannot do it by default.\n\nA success with no send time is not an error: it means no mailbox was\nsendable at that moment, and the reconciler picks it up later."
      parameters: []
      responses: {}
      tags:
        - Messages
    parameters:
      -
        in: path
        name: message
        description: ''
        example: 1
        required: true
        schema:
          type: integer
  /api/replies:
    get:
      summary: 'List replies'
      operationId: listReplies
      description: 'Newest first.'
      parameters:
        -
          in: query
          name: classification
          description: 'One of reply, bounce, auto_reply, unsubscribe. e.g. reply.'
          example: null
          required: false
          schema:
            type: string
            description: 'One of reply, bounce, auto_reply, unsubscribe. e.g. reply.'
            example: null
        -
          in: query
          name: mailbox_id
          description: 'Only replies to this mailbox. e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Only replies to this mailbox. e.g. 1.'
            example: null
        -
          in: query
          name: contact_id
          description: 'Only replies from this contact. e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Only replies from this contact. e.g. 1.'
            example: null
        -
          in: query
          name: enrollment_id
          description: 'Only replies on this enrollment. e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Only replies on this enrollment. e.g. 1.'
            example: null
        -
          in: query
          name: unread
          description: 'Only replies nobody has opened yet. e.g. true.'
          example: null
          required: false
          schema:
            type: boolean
            description: 'Only replies nobody has opened yet. e.g. true.'
            example: null
        -
          in: query
          name: since
          description: 'ISO date. Only replies received on or after it. e.g. 2026-08-01.'
          example: null
          required: false
          schema:
            type: string
            description: 'ISO date. Only replies received on or after it. e.g. 2026-08-01.'
            example: null
        -
          in: query
          name: per_page
          description: 'Rows per page. Clamped to 200. e.g. 50.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Rows per page. Clamped to 200. e.g. 50.'
            example: null
        -
          in: query
          name: page
          description: 'Which page to return. e.g. 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page to return. e.g. 1.'
            example: null
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: ok
                  data:
                    -
                      id: 1
                      contact_id: 1
                      enrollment_id: 1
                      message_id: 1
                      mailbox_id: 1
                      from_email: jane.doe@acme.example
                      subject: 'Re: Your guide on nursery irrigation'
                      snippet: 'Happy to take a look, send it over.'
                      body_text: "Happy to take a look, send it over.\n\nJane"
                      classification: reply
                      received_at: '2026-09-02T03:52:27+00:00'
                      read_at: null
                      contact:
                        id: 1
                        email: jane.doe@acme.example
                        name: 'Jane Doe'
                        first_name: Jane
                        last_name: Doe
                        company: 'Acme Ltd'
                        website: 'https://acme.example'
                        source: tube-trend-tool
                        custom:
                          industry: SaaS
                          employees: 40
                        created_at: '2026-09-02T09:52:27+00:00'
                        updated_at: '2026-09-02T09:52:27+00:00'
                  meta:
                    page: 1
                    per_page: 50
                    total: 1
                    last_page: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: ok
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        contact_id: 1
                        enrollment_id: 1
                        message_id: 1
                        mailbox_id: 1
                        from_email: jane.doe@acme.example
                        subject: 'Re: Your guide on nursery irrigation'
                        snippet: 'Happy to take a look, send it over.'
                        body_text: "Happy to take a look, send it over.\n\nJane"
                        classification: reply
                        received_at: '2026-09-02T03:52:27+00:00'
                        read_at: null
                        contact:
                          id: 1
                          email: jane.doe@acme.example
                          name: 'Jane Doe'
                          first_name: Jane
                          last_name: Doe
                          company: 'Acme Ltd'
                          website: 'https://acme.example'
                          source: tube-trend-tool
                          custom:
                            industry: SaaS
                            employees: 40
                          created_at: '2026-09-02T09:52:27+00:00'
                          updated_at: '2026-09-02T09:52:27+00:00'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        contact_id:
                          type: integer
                          example: 1
                        enrollment_id:
                          type: integer
                          example: 1
                        message_id:
                          type: integer
                          example: 1
                        mailbox_id:
                          type: integer
                          example: 1
                        from_email:
                          type: string
                          example: jane.doe@acme.example
                        subject:
                          type: string
                          example: 'Re: Your guide on nursery irrigation'
                        snippet:
                          type: string
                          example: 'Happy to take a look, send it over.'
                        body_text:
                          type: string
                          example: "Happy to take a look, send it over.\n\nJane"
                        classification:
                          type: string
                          example: reply
[...]
